smov_config:
  ros__parameters:
    # It is important to change the back servos ports if you're using a single board.
    use_single_board: false

    # If use_single_board: false, then the second line is useless.
    front_board_i2c_bus: 1
    back_board_i2c_bus: 4

    #                      Port, Center, Range,   Direction, Default value on Start (Proportional), Base (centered) angle, Max angle (The highest angle possible relative to the trigonometry package)
    FRONT_BODY_LEFT:       [0,   315,    220,     -1,        0,                                     90,                    135]
    FRONT_BODY_RIGHT:      [15,  315,    220,     1,         0,                                     90,                    135]

    FRONT_UPPER_LEG_LEFT:  [1,   315,    440,     1,         0,                                     53,                    145]
    FRONT_UPPER_LEG_RIGHT: [14,  300,    440,     -1,        0,                                     57,                    153]

    FRONT_LOWER_LEG_LEFT:  [2,   315,    440,     1,         -1,                                    115,                   200]
    FRONT_LOWER_LEG_RIGHT: [13,  340,    390,     -1,        -1,                                    120,                   188]

    BACK_BODY_LEFT:        [15,  315,    220,     1,         0,                                     89,                    137]
    BACK_BODY_RIGHT:       [0,   315,    220,     -1,        0,                                     90,                    136]

    BACK_UPPER_LEG_LEFT:   [14,  315,    440,     1,         0,                                     62,                    156]
    BACK_UPPER_LEG_RIGHT:  [1,   335,    440,     -1,        0,                                     56,                    157]

    BACK_LOWER_LEG_LEFT:   [13,  315,    400,     1,         -1,                                    109,                   190]
    BACK_LOWER_LEG_RIGHT:  [2,   315,    340,     -1,        -1,                                    103,                   180]

smov_states:  
  ros__parameters:
    # The values are in centimeters.
    upper_leg_length: 14.0
    lower_leg_length: 14.0
    hip_body_distance: 4.0
    reset_vals_after_state_pkg_ended: true
