<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- Wheel Information -->
            <left_joint>front_left_shoulder</left_joint>
            <left_joint>front_left_leg</left_joint>
            <left_joint>front_left_foot</left_joint>
            <left_joint>rear_left_shoulder</left_joint>
            <left_joint>rear_left_leg</left_joint>
            <left_joint>rear_left_foot</left_joint>

            <right_joint>front_right_shoulder</right_joint>
            <right_joint>front_right_leg</left_joint>
            <right_joint>front_right_foot</left_joint>
            <right_joint>rear_right_shoulder</left_joint>
            <right_joint>rear_right_leg</left_joint>
            <right_joint>rear_right_foot</left_joint>
            
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>


</robot>